# Base de données embarquée H2 utilisée par l'application (sauvegardée dans OUTPUT_DIR/h2db)

# Configuration des APIs
THESES_API_BASE_URL=https://theses.fr/api/v1
THESES_PAGE_SIZE=1000

# Configuration data.gouv.fr
DATA_GOUV_API_KEY=
DATA_GOUV_DATASET_ID=
DATA_GOUV_CSV_RESOURCE_ID=
DATA_GOUV_JSON_RESOURCE_ID=
DATA_GOUV_NDJSON_RESOURCE_ID=

# Paramètres du Batch
# MODE_TEST=true limite la récupération à 50 thèses pour un test rapide de l'API
MODE_TEST=true
# DATA_GOUV_UPLOAD_ENABLED=true active le téléversement des fichiers sur data.gouv.fr
DATA_GOUV_UPLOAD_ENABLED=false
OUTPUT_DIR=./data

# Planification (Règle des 6 mois)
# SCHEDULER_ENABLED=false : L'application s'exécute au démarrage et s'éteint après (idéal pour Cron/K8s Job)
# SCHEDULER_ENABLED=true  : L'application reste active en arrière-plan et tourne selon SCHEDULER_CRON
SCHEDULER_ENABLED=false
SCHEDULER_CRON=0 0 2 * * ?
FORCE_RUN=false